nav {
  display: flex;
  background: lightgrey;
  padding: 10px;
  margin: 0 auto;
}

a {
  align-self: center;
  margin-left: auto;
  text-decoration: none;
}

.subscribe {
  float: end;
  font-size: 22px;
  color: black;
}

img {
  width: 30px;
  height: 30px;
  justify-self: center;
}

.nav-title {
  margin: 0 0 0 10px;
  justify-self: center;
}

.nav-title-link {
  font-size: 25px;
  color: black;
  font-weight: bold;
}
